<!-- Header -->

<header class="header">

    <!-- Top Bar -->

    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row">
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon">
                            <img src="/images/phone.png" alt="">
                        </div>
                        +38 068 005 3570
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon">
                            <img src="/images/mail.png" alt="">
                        </div>
                        <a href="mailto:rexshop@gmail.com">rexshop@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Main -->

    <div class="header_main">
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="col-lg-2 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <div class="logo">
                            <a href="/product">RexShop</a>
                        </div>
                    </div>
                </div>


    <!-- Main Navigation -->

    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="main_nav_content d-flex flex-row">

                        <!-- Categories Menu -->

                        <div class="cat_menu_container">
                            <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                <div class="cat_burger">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="cat_menu_text">Danh sách chức năng</div>
                            </div>

                            <ul class="cat_menu">
                                <li>
                                    <a href="/admin/manage_account">Quản lí tài khoản người dùng
                                        <i class="fas fa-chevron-right ml-auto"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/manage_product">Quản lí sản phẩm
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/manage_order">Quản lí đơn đặt hàng
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>