<div class="add_order_page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Add new order</h2>
                        <br>
                        <a href="/salesman/order" class="btn btn-primary">Back to all orders</a>
                        <br><br>
                        
                        <form method="post" action="/salesman/order/save">
                            <table id="mytable" class="table table-bordred table-striped">
                                <tbody>
                                    <tr>
                                        <td>Customer ID</td>
                                        <td><input type="text" name="customer_id"></td>
                                    </tr>
                                    <tr>
                                        <td>Cost</td>
                                        <td><input type="text" name="cost"></td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td><input type="text" name="date"></td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>
                                            <select name="select_picker">
                                            <option value="Done">Done</option>
                                            <option value="Waiting">Waiting</option>
                                            <option value="Processing">Processing</option>
                                        </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Count</td>
                                        <td><input type="text" name="count"></td>
                                    </tr>

                                    <tr>
                                        <td><button class="btn btn-primary" type="submit">Create</button></td>
                                    </tr>
                                </tbody>
                            </table>

                        </form>
                    </div>
                </div>
            </div>
        </div>