<h1>RexShop</h1>
<div class="login">
    <div class="ribbon-wrapper h2 ribbon-red">
        <div class="ribbon-front">
            <h2>Change</h2>
        </div>
        <div class="ribbon-edge-topleft2"></div>
        <div class="ribbon-edge-bottomleft"></div>
    </div>
    <form action="/changepassword" method="post">
        <ul>
            {{#if error_message}}
            <li>
                <p class="error-message">{{{error_message}}}</p>
            </li>
            {{/if}}<li class="info-string">
                <p>Please complete all field to change your password!</p>
            </li>
            <li>
                <input type="password" name="currentpass" placeholder="Enter your current password.">
                <div class=" icon lock"></div>
            </li>
            <li>
                <input type="password" name="newpass" placeholder="Enter your new password.">
                <div class=" icon lock"></div>
            </li>
            <li>
                <input type="password" name="renewpass" placeholder="Re-enter your new password.">
                <div class=" icon lock"></div>
            </li>
        </ul>
        <div class="submit">
            <input type="submit" value="Change Password">
        </div>
    </form>

</div>