<h1>RexShop Account Verification Email</h1>
<p>Please use the following code to verify your account on RexShop website.</p>
<p>Verification code: <span style="font-weight: bold;">{{user.code}}</span></p>
