<h1>RexShop</h1>
<h2>Reset Password Email</h2>
<p>You're receiving this because you (or someone else) have reuested the reset of the password for your account.</p>
<p>Please click on the following link, or paste this into your browser to complete the process:</p>
<a href="http://{{host}}/reset/{{token}}">link</a>
<p>If you did not request this, please ignore this email and your password will remain unchanged.</p>