<a href="/">
    <h1>RexShop</h1>
</a>
<div class="login">
    <div class="ribbon-wrapper h2 ribbon-red">
        <div class="ribbon-front">
            <h2>Reset Password</h2>
        </div>
        <div class="ribbon-edge-topleft2"></div>
        <div class="ribbon-edge-bottomleft"></div>
    </div>
    <form action="/reset/{{token}}" method="post">
        <ul>
            {{#if error_message}}
            <li class="info-string">
                <p class="error-message">{{error_message}}</p>
            </li>
            {{/if}}
            <li class="info-string">
                <p>Please enter new password for your account.</p>
            </li>
            <li>
                <input type="password" name="password" placeholder="New password">
                <div class=" icon lock"></div>
            </li>
            <li>
                <input type="password" name="repassword" placeholder="Confirm Password">
                <div class=" icon lock"></div>
            </li>
        </ul>
        <div class="submit">
            <input type="submit" value="Reset">
        </div>
    </form>

</div>