<h1>RexShop Sign Up</h1>
<div class="login">
    <div class="ribbon-wrapper h2 ribbon-red">
        <div class="ribbon-front">
            <h2>User Signup</h2>
        </div>
        <div class="ribbon-edge-topleft2"></div>
        <div class="ribbon-edge-bottomleft"></div>
    </div>
    <form action="/signup" method="post">
        <ul>
            {{#if error_message}}
            <li class="error-message">
                <p>{{{error_message}}}</p>
            </li>
            {{/if}}
            <li>
                <input type="text" class="text" name="fullname" placeholder="Fullname">
                <div class=" icon name"></div>
            </li>
            <li>
                <input type="text" class="text" name="username" placeholder="Username">
                <div class=" icon user"></div>
            </li>
            <li>
                <input type="password" name="password" placeholder="Password">
                <div class=" icon lock"></div>
            </li>
            <li>
                <input type="password" name="repassword" placeholder="Re-enter Password">
                <div class=" icon lock"></div>
            </li>
            <li>
                <input type="text" class="text" name="email" placeholder="Email">
                <div class=" icon mail"></div>
            </li>
            <li>
                <input type="text" class="text" name="address" placeholder="Address">
                <div class=" icon address"></div>
            </li>
            <li>
                <input type="text" class="text" name="phoneno" placeholder="Phone Number">
                <div class=" icon phone"></div>
            </li>
            <li class="info-string">
                <p>* All field is required!</p>
            </li>
        </ul>
        <div class="submit">
            <input type="submit" value="Sign Up">
        </div>
    </form>

</div>