<h1>RexShop Sign Up</h1>
<div class="login">
    <div class="ribbon-wrapper h2 ribbon-red">
        <div class="ribbon-front">
            <h2>User Signup</h2>
        </div>
        <div class="ribbon-edge-topleft2"></div>
        <div class="ribbon-edge-bottomleft"></div>
    </div>
    <form action="/signup" method="post">
        <ul>
            {{#if error-message}}
            <li>
                <p class="error-message">{{error-message}}</p>
            </li>
            {{/if}}
            <li>
                <input type="text" class="text" name="fullname" value="Fullname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Fullname';}">
                <div class=" icon name"></div>
            </li>
            <li>
                <input type="text" class="text" name="username" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
                <div class=" icon user"></div>
            </li>
            <li>
                <input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                <div class=" icon lock"></div>
            </li>
            <li>
                <input type="password" name="repassword" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                <div class=" icon lock"></div>
            </li>
            <li>
                <input type="text" class="text" name="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                <div class=" icon mail"></div>
            </li>
            <li>
                <input type="text" class="text" name="address" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}">
                <div class=" icon address"></div>
            </li>
            <li>
                <input type="text" class="text" name="phoneno" value="Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone Number';}">
                <div class=" icon phone"></div>
            </li>
        </ul>
        <div class="submit">
            <input type="submit" value="Log in">
        </div>
    </form>

</div>